<nav>
    <div class="burger" (click)="toggleMenu()" #burger>
        <div class="barra superior"></div>
        <div class="barra media"></div>
        <div class="barra inferior"></div>
    </div>
    <div class="mensaje"
        *ngIf="showMensaje"
        [ngClass]="{
            'success': tipoMensaje === 'success',
            'warning': tipoMensaje === 'warning',
            'danger': tipoMensaje === 'danger'
        }">
        {{texto}}
    </div>
    <div>appPresupuestos</div>
</nav>
<div class="menu" #menu>
    <div class="item" routerLink="/" (click)="toggleMenu()">
        Inicio
    </div>
    <hr>
    <div class="item" routerLink="/listado-clientes" (click)="toggleMenu()">
        Clientes
    </div>
    <hr>
    <div class="item" routerLink="/listado-facturas" (click)="toggleMenu()">
        Facturas
    </div>
</div>
