<div class="container">
    <div class="container-head">
        <h1>Nuevo Cliente</h1>
        <button class="icon" routerLink="/listado-clientes">
            Atrás
        </button>
    </div>
    <form>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre">
        </div>
        <div>
            <label for="cif">C.I.F.</label>
            <input type="text" id="cif">
        </div>
        <div>
            <label for="domicilio">Domicilio social</label>
            <input type="text" id="domicilio">
        </div>
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email">
        </div>
        <div>
            <label for="pago">Forma de pago</label>
            <input type="text" id="pago">
        </div>
    </form>
</div>