<div class="container">
    <div class="container-head">
        <h1>Nuevo Factura</h1>
        <button class="icon" routerLink="/listado-facturas">
            Atrás
        </button>
    </div>
    <form [formGroup]="formFra">
        <div>
            <label for="nombreCliente">Nombre Cliente</label>
            <input type="text" id="nombreCliente" formControlName="nombreCliente">
        </div>
        <div>
            <label for="cif">C.I.F. Cliente</label>
            <input type="text" id="cif" formControlName="cif">
        </div>
        <div>
            <label for="fecha">Fecha Factura</label>
            <input type="date" id="fecha" formControlName="fecha" value="{{fechaActual | date: 'yyyy-MM-dd'}}">
        </div>
        <div>
            <label for="concepto">Concepto</label>
            <input type="text" id="concepto" formControlName="concepto">
        </div>
        <div>
            <label for="base">Base imponible</label>
            <input type="number" id="base" formControlName="base">
        </div>
        <div>
            <label for="tipo">IVA</label>
            <select id="tipo" formControlName="tipo">
                <option value=0>0 %</option>
                <option value=0.04>4 %</option>
                <option value=0.10>10 %</option>
                <option value=0.21>21 %</option>
            </select>
        </div>
        <div>
            <label for="importeIVA">Importe IVA</label>
            <input type="number" id="importeIVA" formControlName="importeIVA">
        </div>
        <div>
            <label for="total">Total Factura IVA incluido</label>
            <input type="number" id="total" formControlName="total">
        </div>
        <div></div>
    </form>
</div>